<h1>{{categoria.nome}}</h1>
{{#each postagem}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <p>{{conteudo}}</p>
            <a href="/postagem/{{slug}}"><button class="btn btn-success">Saiba mais</button></a>
            <hr>
            <small>Data de publicação:{{data}}</small>
        </div>
    </div>
{{else}}
    <h4>Nenhuma postagem registrada</h4>
{{/each}}